p, h1, h2, h3, h4, h5, h6, input, button{
	color: black;
	font-family: 'Poiret One', sans-serif;
}

h1{
	margin-bottom: 20px;
}

a{
	color: black;
}

a:hover, a:focus, .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus{
	text-decoration: none;
	outline: none;
	outline-offset: none;
}

#main{
	padding-top: 10em;
	text-align: center;
}

.btn-custom{
/*	background-color: white;
	border: 1px black solid;
	border-radius: 33%;*/
	background-color: white;
	border: none;
}

.red{
	color: red;
	background-color: yellow;
	text-decoration: underline;
}

#title{
	/*max-width: 50%;*/
}

#searchBar{
	max-width: 40%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 
}

#buttonDiv{
	margin-bottom: 20px;
}

input{
	border-right: none;
	border-left: none;
	border-top: none;
	border-bottom: 1px solid black;
	font-size: 1.5em;
}

input:focus{
	outline: none;
}