p, h1, h2, h3, h4, h5, h6{
	color: black;
	font-family: 'Poiret One', sans-serif;
}

#main{
	padding-top: 10em;
	text-align: center;
}

.btn-custom{
	background-color: white;
	border: 1px black solid;
	border-radius: 33%;
}

#title{
	max-width: 50%;
}